In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dask.dataframe as ddf
from pandas import Series, DataFrame
%matplotlib inline

In [2]:
import seaborn as sn
import plotly.express as px

In [3]:
ur_files = ddf.read_csv('daily_temp_county_level/daily_temp_county_level_2009.csv', dtype = {'fips': str})
temp = ur_files.compute()
temp = temp.loc[:, ~temp.columns.str.contains('^Unnamed')]
temp.head()

    fips        date       temp   min_temp   max_temp    year
0  01001  2009-01-01  41.323529  34.311765  49.282353  2009.0
1  01001  2009-01-02  51.400000  44.520000  61.340000  2009.0
2  01001  2009-01-03  65.670588  58.135294  72.923529  2009.0
3  01001  2009-01-04  64.529412  59.023529  69.358824  2009.0
4  01001  2009-01-05  63.382353  60.852941  66.270588  2009.0

In [4]:
ur_files = ddf.read_csv('average_max_temp_6190.csv', dtype = {'fips': str})
average_max = ur_files.compute()
average_max = average_max.loc[:, ~average_max.columns.str.contains('^Unnamed')]
average_max.head()

    fips    YEAR  average_temp  average_min_temp  average_max_temp
0  01001  1975.5     88.086863         78.430588         99.182549
1  01003  1975.5     86.279225         80.531628         94.950310
2  01005  1975.5     85.219630         75.624444         97.295556
3  01007  1975.5     86.538333         77.821250         97.962917
4  01009  1975.5     83.823333         74.926042         96.336875

In [5]:
average_max.shape

(2839, 5)

In [6]:
def findList(fips, average_max):
    average_max_list = []
    average_max_list.append(fips)
    average_max_list.append(average_max)
    return average_max_list

In [7]:
average_max['average_max_list'] = average_max.apply(lambda x: findList(x['fips'], x['average_max_temp']), axis=1)
average_max.head()

,fips,YEAR,average_temp,average_min_temp,average_max_temp,average_max_list
0,01001,1975.5,88.086863,78.430588,99.182549,"[01001, 99.18254901960783]"
1,01003,1975.5,86.279225,80.531628,94.950310,"[01003, 94.95031007751938]"
2,01005,1975.5,85.219630,75.624444,97.295556,"[01005, 97.29555555555557]"
3,01007,1975.5,86.538333,77.821250,97.962917,"[01007, 97.96291666666666]"
4,01009,1975.5,83.823333,74.926042,96.336875,"[01009, 96.336875]"

In [8]:
average_max_list = average_max['average_max_list'].tolist()
average_max_list[:5]

[['01001', 99.18254901960783],
 ['01003', 94.95031007751938],
 ['01005', 97.29555555555557],
 ['01007', 97.96291666666666],
 ['01009', 96.336875]]

In [9]:
df_example = temp[temp['fips'] == '01001']
df_example.head()

    fips        date       temp   min_temp   max_temp    year
0  01001  2009-01-01  41.323529  34.311765  49.282353  2009.0
1  01001  2009-01-02  51.400000  44.520000  61.340000  2009.0
2  01001  2009-01-03  65.670588  58.135294  72.923529  2009.0
3  01001  2009-01-04  64.529412  59.023529  69.358824  2009.0
4  01001  2009-01-05  63.382353  60.852941  66.270588  2009.0

In [10]:
df_example

      fips        date       temp   min_temp   max_temp    year
0    01001  2009-01-01  41.323529  34.311765  49.282353  2009.0
1    01001  2009-01-02  51.400000  44.520000  61.340000  2009.0
2    01001  2009-01-03  65.670588  58.135294  72.923529  2009.0
3    01001  2009-01-04  64.529412  59.023529  69.358824  2009.0
4    01001  2009-01-05  63.382353  60.852941  66.270588  2009.0
..     ...         ...        ...        ...        ...     ...
360  01001  2009-12-27  39.058824  28.876471  53.088235  2009.0
361  01001  2009-12-28  38.017647  30.370588  45.847059  2009.0
362  01001  2009-12-29  37.123529  27.552941  50.717647  2009.0
363  01001  2009-12-30  42.135294  32.911765  49.964706  2009.0
364  01001  2009-12-31  48.205882  44.064706  56.747059  2009.0

[365 rows x 6 columns]

In [11]:
N = 5
c1 = df_example['max_temp'].ge(100)
g = (c1 != c1.shift()).cumsum()
df1 = df_example.assign(
    cnt=df_example.groupby(g).date.transform('count')
  , n=df_example.groupby(g).agg('cumcount')
  , g=g
)
df1.head()

    fips        date       temp   min_temp   max_temp    year  cnt  n  g
0  01001  2009-01-01  41.323529  34.311765  49.282353  2009.0  365  0  1
1  01001  2009-01-02  51.400000  44.520000  61.340000  2009.0  365  1  1
2  01001  2009-01-03  65.670588  58.135294  72.923529  2009.0  365  2  1
3  01001  2009-01-04  64.529412  59.023529  69.358824  2009.0  365  3  1
4  01001  2009-01-05  63.382353  60.852941  66.270588  2009.0  365  4  1

In [12]:
c2 = df1.cnt.ge(N)
c3 = df1.n.mod(N).eq(0) & df1.n.le(df1.cnt-N)
df_example['flag'] = np.where(c1 & c2 & c3, 1, 0)
df_example

/global/homes/w/wenhuan/.conda/envs/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      fips        date       temp   min_temp   max_temp    year  flag
0    01001  2009-01-01  41.323529  34.311765  49.282353  2009.0     0
1    01001  2009-01-02  51.400000  44.520000  61.340000  2009.0     0
2    01001  2009-01-03  65.670588  58.135294  72.923529  2009.0     0
3    01001  2009-01-04  64.529412  59.023529  69.358824  2009.0     0
4    01001  2009-01-05  63.382353  60.852941  66.270588  2009.0     0
..     ...         ...        ...        ...        ...     ...   ...
360  01001  2009-12-27  39.058824  28.876471  53.088235  2009.0     0
361  01001  2009-12-28  38.017647  30.370588  45.847059  2009.0     0
362  01001  2009-12-29  37.123529  27.552941  50.717647  2009.0     0
363  01001  2009-12-30  42.135294  32.911765  49.964706  2009.0     0
364  01001  2009-12-31  48.205882  44.064706  56.747059  2009.0     0

[365 rows x 7 columns]

In [13]:
df_example['flag'].unique()

array([0])

In [14]:
def findHeatwaveCount(temp, fips, average_max):
    df = temp[temp['fips'] == fips]
    c1 = df['max_temp'].ge(average_max)
    N = 5
    g = (c1 != c1.shift()).cumsum()
    df1 = df.assign(
        cnt=df.groupby(g).date.transform('count')
      , n=df.groupby(g).agg('cumcount')
      , g=g
    )
    c2 = df1.cnt.ge(N)
    c3 = df1.n.mod(N).eq(0) & df1.n.le(df1.cnt-N)
    df['flag'] = np.where(c1 & c2 & c3, 1, 0)
    del(df1)
    return df

In [15]:
frames = []
for item in average_max_list:
    fips = item[0]
    average_number = item[1]
    df = findHeatwaveCount(temp, fips, average_number)
    frames.append(df)

/global/homes/w/wenhuan/.conda/envs/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [16]:
heatwave = pd.concat(frames)
heatwave.head()

    fips        date       temp   min_temp   max_temp    year  flag
0  01001  2009-01-01  41.323529  34.311765  49.282353  2009.0     0
1  01001  2009-01-02  51.400000  44.520000  61.340000  2009.0     0
2  01001  2009-01-03  65.670588  58.135294  72.923529  2009.0     0
3  01001  2009-01-04  64.529412  59.023529  69.358824  2009.0     0
4  01001  2009-01-05  63.382353  60.852941  66.270588  2009.0     0

In [17]:
heatwave['flag'].unique()

array([0, 1])

In [18]:
heatwave_count = heatwave.groupby(['fips']).sum()
heatwave_count = heatwave_count.reset_index()
heatwave_count.head()

    fips          temp      min_temp      max_temp      year  flag
0  01001  23384.934118  20139.449412  27493.194118  733285.0     0
1  01003  24770.905892  21965.415263  27944.841005  733285.0     1
2  01005  23625.330556  20117.434722  28126.768056  733285.0     2
3  01007  22696.385714  19621.642857  26758.667857  733285.0     0
4  01009  22230.142992  19122.953977  26126.274053  733285.0     0

In [19]:
heatwave_count['year'] = 2009
heatwave_count = heatwave_count.rename(columns = {'flag': 'heatwave_count'})
heatwave_count = heatwave_count[['fips', 'heatwave_count', 'year']]
heatwave_count.head()

    fips  heatwave_count  year
0  01001               0  2009
1  01003               1  2009
2  01005               2  2009
3  01007               0  2009
4  01009               0  2009

In [20]:
heatwave_count.shape

(2751, 3)

In [21]:
heatwave_count['heatwave_count'].max()

28

In [22]:
example = heatwave_count[heatwave_count['heatwave_count'] == 28]
example

      fips  heatwave_count  year
319  12095              28  2009

In [23]:
df_max = average_max[average_max['fips'] == '12095']
df_max

,fips,YEAR,average_temp,average_min_temp,average_max_temp,average_max_list
323,12095,1975.5,75.592472,68.739276,85.498989,"[12095, 85.49898876404494]"

In [24]:
df_temp = temp[temp['fips'] == '12095']
df_temp

         fips        date       temp   min_temp   max_temp    year
128543  12095  2009-01-01  60.062547  51.850187  69.219850  2009.0
128544  12095  2009-01-02  63.158427  54.461423  74.049064  2009.0
128545  12095  2009-01-03  64.483895  52.910112  75.174157  2009.0
128546  12095  2009-01-04  68.285393  58.388764  78.662547  2009.0
128547  12095  2009-01-05  67.280899  55.186517  78.289139  2009.0
...       ...         ...        ...        ...        ...     ...
128903  12095  2009-12-27  52.896296  49.967078  57.554321  2009.0
128904  12095  2009-12-28  56.644444  49.030453  67.232510  2009.0
128905  12095  2009-12-29  48.031276  38.760905  62.381481  2009.0
128906  12095  2009-12-30  55.120576  43.695062  73.124280  2009.0
128907  12095  2009-12-31  63.427984  53.647737  75.353909  2009.0

[365 rows x 6 columns]

In [25]:
df_count = findHeatwaveCount(df_temp, '12095', 85.5)
df_count

         fips        date       temp   min_temp   max_temp    year  flag
128543  12095  2009-01-01  60.062547  51.850187  69.219850  2009.0     0
128544  12095  2009-01-02  63.158427  54.461423  74.049064  2009.0     0
128545  12095  2009-01-03  64.483895  52.910112  75.174157  2009.0     0
128546  12095  2009-01-04  68.285393  58.388764  78.662547  2009.0     0
128547  12095  2009-01-05  67.280899  55.186517  78.289139  2009.0     0
...       ...         ...        ...        ...        ...     ...   ...
128903  12095  2009-12-27  52.896296  49.967078  57.554321  2009.0     0
128904  12095  2009-12-28  56.644444  49.030453  67.232510  2009.0     0
128905  12095  2009-12-29  48.031276  38.760905  62.381481  2009.0     0
128906  12095  2009-12-30  55.120576  43.695062  73.124280  2009.0     0
128907  12095  2009-12-31  63.427984  53.647737  75.353909  2009.0     0

[365 rows x 7 columns]

In [26]:
df_50 = df_count.iloc[:50]
df_50

         fips        date       temp   min_temp   max_temp    year  flag
128543  12095  2009-01-01  60.062547  51.850187  69.219850  2009.0     0
128544  12095  2009-01-02  63.158427  54.461423  74.049064  2009.0     0
128545  12095  2009-01-03  64.483895  52.910112  75.174157  2009.0     0
128546  12095  2009-01-04  68.285393  58.388764  78.662547  2009.0     0
128547  12095  2009-01-05  67.280899  55.186517  78.289139  2009.0     0
128548  12095  2009-01-06  69.155849  60.992830  81.129057  2009.0     0
128549  12095  2009-01-07  68.546442  60.486891  78.923970  2009.0     0
128550  12095  2009-01-08  59.155431  45.380150  72.718352  2009.0     0
128551  12095  2009-01-09  60.279401  47.727341  71.081273  2009.0     0
128552  12095  2009-01-10  61.141948  48.523970  75.852434  2009.0     0
128553  12095  2009-01-11  65.938951  52.765543  79.481648  2009.0     0
128554  12095  2009-01-12  64.420816  57.744898  74.145714  2009.0     0
128555  12095  2009-01-13  61.904869  55.506367  74.232210  2009.0     0
128556  12095  2009-01-14  53.652060  41.385019  67.528090  2009.0     0
128557  12095  2009-01-15  51.879775  41.432959  61.560300  2009.0     0
128558  12095  2009-01-16  51.080150  43.590262  58.712734  2009.0     0
128559  12095  2009-01-17  49.347566  38.813858  62.403745  2009.0     0
128560  12095  2009-01-18  54.843446  40.319476  71.352809  2009.0     0
128561  12095  2009-01-19  62.255431  56.600749  71.178277  2009.0     0
128562  12095  2009-01-20  53.287347  44.200000  66.224082  2009.0     0
128563  12095  2009-01-21  40.250612  31.921633  51.161633  2009.0     0
128564  12095  2009-01-22  43.884082  31.729796  58.077143  2009.0     0
128565  12095  2009-01-23  51.149438  35.145318  69.210487  2009.0     0
128566  12095  2009-01-24  56.180150  40.266667  72.887640  2009.0     0
128567  12095  2009-01-25  61.801873  47.982397  76.025468  2009.0     0
128568  12095  2009-01-26  63.969288  50.057303  79.613109  2009.0     0
128569  12095  2009-01-27  66.437828  54.084644  79.942697  2009.0     0
128570  12095  2009-01-28  69.700375  59.273783  82.015730  2009.0     0
128571  12095  2009-01-29  69.235955  61.654682  82.491386  2009.0     0
128572  12095  2009-01-30  58.558427  50.335955  68.725094  2009.0     0
128573  12095  2009-01-31  50.510112  39.487266  60.919476  2009.0     0
128574  12095  2009-02-01  52.820225  40.661423  66.618352  2009.0     0
128575  12095  2009-02-02  59.293258  51.763296  65.023970  2009.0     0
128576  12095  2009-02-03  57.958801  52.071161  64.997753  2009.0     0
128577  12095  2009-02-04  47.555056  40.684644  54.350936  2009.0     0
128578  12095  2009-02-05  39.864794  30.142322  51.912734  2009.0     0
128579  12095  2009-02-06  46.900375  34.130712  64.610861  2009.0     0
128580  12095  2009-02-07  54.138951  39.618352  69.089139  2009.0     0
128581  12095  2009-02-08  59.174157  47.035955  72.811985  2009.0     0
128582  12095  2009-02-09  59.941573  46.190637  73.333708  2009.0     0
128583  12095  2009-02-10  63.926592  49.927715  78.598127  2009.0     0
128584  12095  2009-02-11  69.528839  57.576404  82.805243  2009.0     0
128585  12095  2009-02-12  72.362921  65.117978  83.118352  2009.0     0
128586  12095  2009-02-13  68.999625  56.153558  80.973783  2009.0     0
128587  12095  2009-02-14  68.468914  57.714607  83.127715  2009.0     0
128588  12095  2009-02-15  67.790262  62.752060  74.717603  2009.0     0
128589  12095  2009-02-16  64.532959  57.958052  72.050562  2009.0     0
128590  12095  2009-02-17  57.864794  47.956554  71.234457  2009.0     0
128591  12095  2009-02-18  63.189139  50.458052  78.963296  2009.0     0
128592  12095  2009-02-19  67.217603  60.090637  74.651685  2009.0     0

In [27]:
df_100 = df_count.iloc[50:100]
df_100

         fips        date       temp   min_temp   max_temp    year  flag
128593  12095  2009-02-20  56.661049  47.144569  68.872659  2009.0     0
128594  12095  2009-02-21  54.163670  39.466292  70.111236  2009.0     0
128595  12095  2009-02-22  62.456929  50.408989  75.665918  2009.0     0
128596  12095  2009-02-23  60.780524  51.067416  71.630712  2009.0     0
128597  12095  2009-02-24  56.476030  46.201873  70.272659  2009.0     0
128598  12095  2009-02-25  60.845693  49.411985  72.985019  2009.0     0
128599  12095  2009-02-26  62.086891  50.228090  74.984270  2009.0     0
128600  12095  2009-02-27  64.557678  51.896255  81.667416  2009.0     0
128601  12095  2009-02-28  67.923221  54.482022  81.864045  2009.0     0
128602  12095  2009-03-01  63.171161  49.847566  77.258801  2009.0     0
128603  12095  2009-03-02  49.805993  40.804120  61.728090  2009.0     0
128604  12095  2009-03-03  50.220974  41.284644  62.084270  2009.0     0
128605  12095  2009-03-04  53.018352  41.556180  68.795880  2009.0     0
128606  12095  2009-03-05  58.857303  45.937828  73.002247  2009.0     0
128607  12095  2009-03-06  62.392884  49.248315  77.453933  2009.0     0
128608  12095  2009-03-07  65.170037  51.396255  79.094382  2009.0     0
128609  12095  2009-03-08  67.170412  52.497753  80.118352  2009.0     0
128610  12095  2009-03-09  69.834831  56.687640  82.153933  2009.0     0
128611  12095  2009-03-10  70.604494  57.037828  85.446442  2009.0     0
128612  12095  2009-03-11  70.894007  59.738577  83.795880  2009.0     0
128613  12095  2009-03-12  70.308614  58.760300  83.774906  2009.0     0
128614  12095  2009-03-13  70.078652  59.714607  81.414232  2009.0     0
128615  12095  2009-03-14  72.663296  62.951311  84.650187  2009.0     0
128616  12095  2009-03-15  75.059176  65.220599  85.848689  2009.0     0
128617  12095  2009-03-16  75.287266  63.816479  87.102247  2009.0     0
128618  12095  2009-03-17  72.589513  63.255431  82.563670  2009.0     0
128619  12095  2009-03-18  70.073408  62.787266  80.944195  2009.0     0
128620  12095  2009-03-19  68.985768  60.688015  79.285768  2009.0     0
128621  12095  2009-03-20  69.391760  59.427341  81.060674  2009.0     0
128622  12095  2009-03-21  66.704120  58.506742  77.773408  2009.0     0
128623  12095  2009-03-22  64.092509  55.526217  75.461798  2009.0     0
128624  12095  2009-03-23  64.372285  58.845318  73.916105  2009.0     0
128625  12095  2009-03-24  65.986142  55.113109  77.970787  2009.0     0
128626  12095  2009-03-25  67.132210  55.263670  79.994757  2009.0     0
128627  12095  2009-03-26  70.255056  62.171910  81.199251  2009.0     0
128628  12095  2009-03-27  71.572659  63.440449  83.982022  2009.0     0
128629  12095  2009-03-28  77.044944  67.872285  89.924345  2009.0     0
128630  12095  2009-03-29  73.776779  66.706367  82.984270  2009.0     0
128631  12095  2009-03-30  66.328090  54.602996  80.040824  2009.0     0
128632  12095  2009-03-31  70.128839  59.913483  86.061423  2009.0     0
128633  12095  2009-04-01  74.025094  67.729963  84.753933  2009.0     0
128634  12095  2009-04-02  74.828839  65.413858  89.222097  2009.0     0
128635  12095  2009-04-03  77.019476  69.781648  85.586142  2009.0     0
128636  12095  2009-04-04  70.628839  57.041948  84.764419  2009.0     0
128637  12095  2009-04-05  74.453558  62.344569  88.091760  2009.0     0
128638  12095  2009-04-06  75.036330  67.545693  85.291011  2009.0     0
128639  12095  2009-04-07  58.045693  49.979401  68.509738  2009.0     0
128640  12095  2009-04-08  56.728839  45.035206  71.081273  2009.0     0
128641  12095  2009-04-09  65.429963  50.935581  80.922846  2009.0     0
128642  12095  2009-04-10  71.030337  55.969288  84.973783  2009.0     0

In [28]:
df_150 = df_count.iloc[100:150]
df_150

         fips        date       temp   min_temp   max_temp    year  flag
128643  12095  2009-04-11  74.657303  65.917228  84.429588  2009.0     0
128644  12095  2009-04-12  74.256929  63.823596  84.977528  2009.0     0
128645  12095  2009-04-13  72.511610  63.419101  84.278652  2009.0     0
128646  12095  2009-04-14  68.689513  63.035206  76.665543  2009.0     0
128647  12095  2009-04-15  69.456929  59.021723  81.953558  2009.0     0
128648  12095  2009-04-16  68.083146  56.476779  81.958052  2009.0     0
128649  12095  2009-04-17  69.271536  60.483895  77.645318  2009.0     0
128650  12095  2009-04-18  68.510112  58.173783  79.931835  2009.0     0
128651  12095  2009-04-19  69.366667  56.208989  82.814981  2009.0     0
128652  12095  2009-04-20  72.447566  63.473034  82.315356  2009.0     0
128653  12095  2009-04-21  71.937143  62.819592  81.622041  2009.0     0
128654  12095  2009-04-22  71.161633  60.617959  83.074286  2009.0     0
128655  12095  2009-04-23  73.580408  59.204082  89.060000  2009.0     0
128656  12095  2009-04-24  76.632584  63.819476  89.922846  2009.0     0
128657  12095  2009-04-25  73.613109  63.489888  84.950187  2009.0     0
128658  12095  2009-04-26  72.803371  62.394757  83.663296  2009.0     0
128659  12095  2009-04-27  73.307491  63.768914  85.641948  2009.0     0
128660  12095  2009-04-28  73.107491  62.868914  84.834457  2009.0     0
128661  12095  2009-04-29  74.108240  63.339700  84.902996  2009.0     0
128662  12095  2009-04-30  74.201498  63.034831  86.625843  2009.0     1
128663  12095  2009-05-01  74.661798  62.599251  89.086142  2009.0     0
128664  12095  2009-05-02  76.592135  65.631086  89.782397  2009.0     0
128665  12095  2009-05-03  78.176779  67.078652  90.660300  2009.0     0
128666  12095  2009-05-04  79.357678  70.137453  90.833708  2009.0     0
128667  12095  2009-05-05  79.351311  69.480899  91.666292  2009.0     1
128668  12095  2009-05-06  79.308989  68.689888  91.629963  2009.0     0
128669  12095  2009-05-07  80.364419  69.978277  91.822097  2009.0     0
128670  12095  2009-05-08  82.380524  70.303745  94.160300  2009.0     0
128671  12095  2009-05-09  83.564045  70.802622  95.035206  2009.0     0
128672  12095  2009-05-10  84.573034  72.663296  96.905243  2009.0     1
128673  12095  2009-05-11  82.841948  71.484644  95.927341  2009.0     0
128674  12095  2009-05-12  77.775281  70.173783  90.579401  2009.0     0
128675  12095  2009-05-13  77.411610  70.647940  88.952809  2009.0     0
128676  12095  2009-05-14  77.637079  70.022846  88.899625  2009.0     0
128677  12095  2009-05-15  78.419101  70.001498  88.956180  2009.0     0
128678  12095  2009-05-16  78.756554  70.180899  89.655805  2009.0     0
128679  12095  2009-05-17  78.758427  69.751311  91.488390  2009.0     0
128680  12095  2009-05-18  72.188015  67.983521  80.782397  2009.0     0
128681  12095  2009-05-19  68.595506  66.001498  71.418727  2009.0     0
128682  12095  2009-05-20  69.152060  65.846442  76.680150  2009.0     0
128683  12095  2009-05-21  71.421348  64.657303  80.441948  2009.0     0
128684  12095  2009-05-22  72.029213  67.863670  78.102996  2009.0     0
128685  12095  2009-05-23  74.867790  69.993258  82.025843  2009.0     0
128686  12095  2009-05-24  75.528464  67.883895  88.728090  2009.0     1
128687  12095  2009-05-25  74.270412  66.031461  87.949064  2009.0     0
128688  12095  2009-05-26  74.970787  68.716105  87.753933  2009.0     0
128689  12095  2009-05-27  75.964045  68.004120  87.520974  2009.0     0
128690  12095  2009-05-28  76.092509  70.525843  85.955431  2009.0     0
128691  12095  2009-05-29  78.222472  70.880899  88.648315  2009.0     1
128692  12095  2009-05-30  81.351311  73.171161  89.779401  2009.0     0

In [29]:
df_200 = df_count.iloc[150:200]
df_200

         fips        date       temp   min_temp   max_temp    year  flag
128693  12095  2009-05-31  78.704869  66.849438  88.273783  2009.0     0
128694  12095  2009-06-01  79.272659  68.349064  89.138577  2009.0     0
128695  12095  2009-06-02  79.103745  70.253184  88.973034  2009.0     0
128696  12095  2009-06-03  78.940075  71.804869  87.983895  2009.0     0
128697  12095  2009-06-04  76.816105  70.247940  85.548315  2009.0     0
128698  12095  2009-06-05  76.540075  71.158427  88.132584  2009.0     0
128699  12095  2009-06-06  76.402247  67.947191  84.613483  2009.0     0
128700  12095  2009-06-07  75.583895  70.988764  84.232959  2009.0     0
128701  12095  2009-06-08  77.249064  69.162172  88.797004  2009.0     1
128702  12095  2009-06-09  79.397753  71.176779  90.129588  2009.0     0
128703  12095  2009-06-10  83.075655  74.069663  93.814232  2009.0     0
128704  12095  2009-06-11  84.507865  75.219101  93.800749  2009.0     0
128705  12095  2009-06-12  84.228464  76.962172  93.102622  2009.0     0
128706  12095  2009-06-13  82.470412  71.367041  92.991386  2009.0     1
128707  12095  2009-06-14  81.314981  71.785768  92.829588  2009.0     0
128708  12095  2009-06-15  83.642697  77.191760  93.641573  2009.0     0
128709  12095  2009-06-16  84.714232  71.804494  95.767041  2009.0     0
128710  12095  2009-06-17  81.105618  72.588764  93.783146  2009.0     0
128711  12095  2009-06-18  80.744944  71.599251  92.319101  2009.0     1
128712  12095  2009-06-19  81.241948  72.570037  93.826592  2009.0     0
128713  12095  2009-06-20  86.301498  76.747566  96.941573  2009.0     0
128714  12095  2009-06-21  88.526217  80.373034  96.972659  2009.0     0
128715  12095  2009-06-22  89.178652  82.249438  98.650936  2009.0     0
128716  12095  2009-06-23  85.536704  74.820974  96.789888  2009.0     1
128717  12095  2009-06-24  80.803371  74.696629  91.523221  2009.0     0
128718  12095  2009-06-25  82.825094  75.710861  91.566292  2009.0     0
128719  12095  2009-06-26  81.537453  75.055431  88.492884  2009.0     0
128720  12095  2009-06-27  81.640075  76.523596  88.936704  2009.0     0
128721  12095  2009-06-28  83.462547  77.490262  90.866667  2009.0     0
128722  12095  2009-06-29  83.526592  78.311610  90.866667  2009.0     0
128723  12095  2009-06-30  79.079401  75.017978  86.621723  2009.0     0
128724  12095  2009-07-01  78.028839  75.195131  82.079401  2009.0     0
128725  12095  2009-07-02  79.636704  73.747566  88.993633  2009.0     1
128726  12095  2009-07-03  82.653933  75.253184  92.839700  2009.0     0
128727  12095  2009-07-04  84.018727  77.162172  93.544944  2009.0     0
128728  12095  2009-07-05  82.133708  74.673408  91.748315  2009.0     0
128729  12095  2009-07-06  83.223970  77.198876  90.270037  2009.0     0
128730  12095  2009-07-07  80.859925  74.083895  89.933708  2009.0     1
128731  12095  2009-07-08  79.222097  75.019850  89.586142  2009.0     0
128732  12095  2009-07-09  77.759176  73.338951  85.977154  2009.0     0
128733  12095  2009-07-10  77.491760  71.321348  88.979026  2009.0     0
128734  12095  2009-07-11  77.654682  69.856180  89.926592  2009.0     0
128735  12095  2009-07-12  78.143071  71.069663  89.949813  2009.0     1
128736  12095  2009-07-13  80.916105  74.760674  89.681273  2009.0     0
128737  12095  2009-07-14  80.919101  73.852060  91.513858  2009.0     0
128738  12095  2009-07-15  83.523970  76.202247  93.641573  2009.0     0
128739  12095  2009-07-16  82.689139  73.073783  93.629213  2009.0     0
128740  12095  2009-07-17  85.251311  77.318727  93.672659  2009.0     1
128741  12095  2009-07-18  83.073408  77.447566  92.766667  2009.0     0
128742  12095  2009-07-19  80.239700  73.260300  88.068539  2009.0     0

In [30]:
df_250 = df_count.iloc[200:250]
df_250

         fips        date       temp   min_temp   max_temp    year  flag
128743  12095  2009-07-20  76.519476  71.176779  86.168165  2009.0     0
128744  12095  2009-07-21  80.961798  72.568165  90.860674  2009.0     0
128745  12095  2009-07-22  82.336330  73.579026  92.819101  2009.0     1
128746  12095  2009-07-23  82.834831  75.383895  93.510861  2009.0     0
128747  12095  2009-07-24  82.817228  74.995131  92.191011  2009.0     0
128748  12095  2009-07-25  82.660300  75.024345  93.008240  2009.0     0
128749  12095  2009-07-26  79.211985  74.229963  90.440824  2009.0     0
128750  12095  2009-07-27  79.320599  73.572659  89.241948  2009.0     1
128751  12095  2009-07-28  83.050187  74.414232  92.659551  2009.0     0
128752  12095  2009-07-29  84.046067  75.925843  94.464045  2009.0     0
128753  12095  2009-07-30  80.468539  74.861423  92.984270  2009.0     0
128754  12095  2009-07-31  80.215730  74.864794  91.019101  2009.0     0
128755  12095  2009-08-01  85.694007  77.638202  92.984270  2009.0     1
128756  12095  2009-08-02  83.426217  76.826966  92.988764  2009.0     0
128757  12095  2009-08-03  81.491011  76.532959  91.425468  2009.0     0
128758  12095  2009-08-04  80.747191  74.256180  93.601498  2009.0     0
128759  12095  2009-08-05  79.891011  74.404494  91.808240  2009.0     0
128760  12095  2009-08-06  81.337453  72.362547  90.340075  2009.0     1
128761  12095  2009-08-07  81.371536  73.939326  92.673034  2009.0     0
128762  12095  2009-08-08  82.537453  75.220599  92.879026  2009.0     0
128763  12095  2009-08-09  82.963296  74.885393  93.173034  2009.0     0
128764  12095  2009-08-10  83.802996  76.373408  93.007116  2009.0     0
128765  12095  2009-08-11  84.289513  76.697753  93.702996  2009.0     1
128766  12095  2009-08-12  84.282772  76.715356  95.642697  2009.0     0
128767  12095  2009-08-13  82.109738  74.664419  93.799625  2009.0     0
128768  12095  2009-08-14  79.325843  73.870412  91.463670  2009.0     0
128769  12095  2009-08-15  81.595880  75.003745  92.629588  2009.0     0
128770  12095  2009-08-16  82.313483  73.740824  91.158052  2009.0     1
128771  12095  2009-08-17  83.373783  77.363296  91.140449  2009.0     0
128772  12095  2009-08-18  80.641199  76.564045  90.697378  2009.0     0
128773  12095  2009-08-19  81.456929  75.729588  91.507116  2009.0     0
128774  12095  2009-08-20  82.802996  75.020974  93.506742  2009.0     0
128775  12095  2009-08-21  81.500000  74.207491  94.485768  2009.0     1
128776  12095  2009-08-22  79.173783  73.052809  90.402996  2009.0     0
128777  12095  2009-08-23  79.992884  74.555056  88.940075  2009.0     0
128778  12095  2009-08-24  80.213483  74.530337  88.481648  2009.0     0
128779  12095  2009-08-25  80.802622  73.885393  91.811236  2009.0     0
128780  12095  2009-08-26  80.441948  76.165169  90.040824  2009.0     1
128781  12095  2009-08-27  82.090262  76.685019  90.811985  2009.0     0
128782  12095  2009-08-28  82.948315  76.675655  91.691760  2009.0     0
128783  12095  2009-08-29  83.484270  76.532959  91.700749  2009.0     0
128784  12095  2009-08-30  84.234457  75.208614  92.846067  2009.0     0
128785  12095  2009-08-31  84.001873  73.133333  93.638202  2009.0     0
128786  12095  2009-09-01  79.194757  73.199251  88.741573  2009.0     0
128787  12095  2009-09-02  76.524345  73.343071  84.840075  2009.0     0
128788  12095  2009-09-03  77.740075  73.030712  87.945693  2009.0     1
128789  12095  2009-09-04  80.112734  73.726592  90.082022  2009.0     0
128790  12095  2009-09-05  79.174157  72.622097  88.628839  2009.0     0
128791  12095  2009-09-06  79.980150  72.737079  91.675655  2009.0     0
128792  12095  2009-09-07  80.684270  74.360300  90.971536  2009.0     0

In [32]:
heatwave_count.to_csv('heatwave_count_2009.csv')